   <section class="section">
    <div class="container max-width-container">
    <nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">TASKS</p>
      <p class="title">0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">SOCIAL NETWORKS</p>
      <p class="title">0</p>
    </div>
  </div>

</nav>

    </div>
  </section>
